<div id="trainer">

  <h5>Emo doesn't understand emotions like we do, so we have to teach it.  You can help train emo by reading a few tweets and answering some simple questions.</h5>

  <div class="status"><%= @status.text %></div>

  <h5>
    What does @<%= @status.twitter_user_screen_name %> feel because of 
    <span class="trend"><%=h @status.trend.name %></span>?
  </h5>

  <% Emotion.all.each_with_index do |emotion, index| -%>

    <div class="span-8 <%= 'last' if index % 3 == 2 %>">
      <% form_tag sentiments_path do -%>
        <%= hidden_field_tag :emotion_id, emotion.id %>
        <%= hidden_field_tag :status_id, @status.id %>
        <span class="emotion">
          <%= submit_tag emotion.name %>
        </span>
      <% end -%>
    </div>

  <% end -%>

  <div class="span-8">
    &nbsp;
  </div>

  <div class="span-8 last">
    <%= button_to "Irrelevant / Can't Tell / Spam", trainer_path %>
  </div>
</div>
