<p>
  <b>Twitter:</b>
  <%=h @status.twitter_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @status.text %>
</p>

<p>
  <b>Favorited:</b>
  <%=h @status.favorited %>
</p>

<p>
  <b>Truncated:</b>
  <%=h @status.truncated %>
</p>

<p>
  <b>Twitter user:</b>
  <%=h @status.twitter_user_id %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>