<div class="span-16">
  <div id="sidebar">
<h3>People feel most <span class="emotion"><%=h @emotion.name %></span> because of</h3> 
<ul class="scoreboard">
  <% @emotion.trends.first(10).each do |trend| -%>
    <li>
      <span class="score"><%= Pivot.find_or_create_by_emotion_and_trend(@emotion, trend).formatted_score %></span>
      <span class="trend"><%= link_to trend.name, trend %></span>
    </li>
  <% end -%>
</ul>
  </div>
</div>

<div class="span-8 last">
    <ul>
      <li>
      <span class="score"><%= @emotion.statuses.count %></span> tweets are <span class="emotion"><%= @emotion.name %></span>.
      </li>
      <li>
        <span class="score"><%= @emotion.score.round %>%</span> of everyone's tweets are <span class="emotion"><%= h @emotion.name %></span>.
      </li>
    </ul>

    <% @emotion.statuses.recent.first(20).each do |status| -%>
      <div class="status"><%= status.text %></div>
    <% end -%>

</div>

