<h1>Listing trends</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @trends.each do |trend| %>
  <tr>
    <td><%=h trend.name %></td>
    <td><%= link_to 'Show', trend %></td>
    <td><%= link_to 'Edit', edit_trend_path(trend) %></td>
    <td><%= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New trend', new_trend_path %>