<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Emo - Twitter Emotion Analytics</title>
  <%= javascript_include_tag :defaults %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">  
  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'screen' %>
  <%= yield :head %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

  <div class="container">
    <div class="span-24 last">
      <div class="span-12">
        <h1><%= link_to 'Emo', root_path %></h1>
        <h2>What are you feeling?</h2>
      </div>

      <div class="span-12 last">
        <div class="span-4">
          <h4><%= link_to 'About Emo', about_path %></h4>
        </div>
        <div class="span-4">
          <h4>Recent Trends</h4>
          <% Trend.most_recent(6).each do |trend| -%>
            <li class="trend"><%= link_to trend.name, trend %></li>
          <% end -%>
        </div>
        <div class="span-4 last">
          <h4>Raging Emotions</h4>
          <% Emotion.hottest.first(6).each do |emotion| -%>
            <li>
            <span class="score"><%= emotion.score %>%</span>
            <span class="emotion"><%= link_to emotion.name, emotion %></span>
            </li>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="span-24 last">
      <div id="flash"><%= flash[:notice] %></div>
      <%= yield %>
    </div>
  </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11387274-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
